<header class="header-admin">
    <div class="grid">
        <nav class="header__navbar-admin">
            <div class="header__navbar-left-admin">
                <div class="header__navbar-list-left-admin">
                    <div class="pentagon-admin"></div>
                    <div class="header__navbar-item-admin">
                        <a href="/admin/statistics" class="header__navbar-item-link-admin">DANASA</a>
                    </div>
                </div>
            </div>
            <div class="header__navbar-right-admin">
                <div class="search-field">
                    <i class="fa-solid fa-clock" style="font-size: 2rem; padding-right: 1rem;"></i>
                    <span id="date"></span>
                    <span id="clock"></span>
                </div>

                <div class="header__navbar-right-2">
                    <div class="nav-item">
                        <div class="dropdown">
                            <button type="button"
                                class="nav-link count-indicator dropdown-toggle btn btn-primary-notifi"
                                fdprocessedid="6335cp" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-hands-clapping" style="font-size: 2.2rem; color: #2a4e8a; margin-right: -0.8rem;"></i>
                            </button>
                        </div>
                    </div>

                    {{!-- <div class="nav-item">
                        <div class="dropdown">
                            <button type="button" class="nav-link count-indicator dropdown-toggle btn btn-primary-mess"
                                fdprocessedid="6335cp" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-envelope"></i>
                                <span class="count-symbol bg-warning" style="font-size: 1.25rem;"></span>
                            </button>
                        </div>
                    </div> --}}

                    <div class="nav-item nav-profile">
                        <div class="dropdown">
                            <button type="button" class="nav-link dropdown-toggle btn btn-primary" style="position: relative;
                                padding: 3rem 0;" aria-haspopup="true" aria-expanded="false">
                                <div class="nav-profile-text">
                                    <p class="mb-1 text-black">Xin chào Admin!</p>
                                </div>
                            </button>
                            <button class="logout-admin">
                                <a href="/login/logout" class="nav-profile-img">
                                    <i class="fa-solid fa-right-from-bracket"
                                        style="font-size: 2rem; color: #2a4e8a;"></i>
                                    <span class="availability-status online"></span>
                                </a>
                            </button>
                            <div class="show-drop-down"></div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="container-page-admin-wrap">
    <div class="grid" style="display: flex;">
        <div class="sidebar">
            <ul>
                <div class="nav-link">
                    <li class="nav-link-parent">
                        <div class="item">
                            <i class="icon-left fa-solid fa-chart-line"></i>
                            <a href="#">Thống kê</a>
                        </div>
                        <i class="dropdown fa-solid fa-caret-down" href=""></i>
                    </li>

                    <ul class="nav-link-show ">
                        <li class="nav-link-show-item">
                            <i class="a fa-solid "></i>
                            <a class="content" href="/admin/statistics">Doanh thu</a>
                        </li>
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/sales">Doanh số</a>
                        </li>
                    </ul>
                </div>

                <div class="nav-link">
                    <li class="nav-link-parent">
                        <div class="item">
                            <i class="icon-left fa-solid fa-newspaper"></i>
                            <a href="#">Tin tức </a>
                        </div>
                        <i class="dropdown fa-solid fa-caret-down"></i>
                    </li>
                    <ul class="nav-link-show">
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/list-news">Xem tin tức</a>
                        </li>
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/create-news">Tạo tin tức</a>
                        </li>
                    </ul>
                </div>

                <div class="nav-link">
                    <li class="nav-link-parent">
                        <div class="item">
                            <i class="icon-left fa-sharp fa-solid fa-user" style="font-size: 1.5rem;"></i>
                            <a href="#">Tài khoản</a>
                        </div>
                        <i class="dropdown fa-solid fa-caret-down"></i>
                    </li>

                    <ul class="nav-link-show">
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/list-cus">Xem tài khoản</a>
                        </li>
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/delete-cus">Xóa tài khoản</a>
                        </li>
                    </ul>
                </div>

                <div class="nav-link">
                    <li class="nav-link-parent">
                        <div class="item">
                            <i class="icon-left fa-regular fa-calendar-days" style="font-size: 1.5rem;"></i>
                            <a href="#">Lịch trình</a>
                        </div>
                        <i class="dropdown fa-solid fa-caret-down"></i>
                    </li>

                    <ul class="nav-link-show">
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/list-schedule">Xem lịch trình</a>
                        </li>
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/create-schedule">Tạo lịch trình</a>
                        </li>
                    </ul>
                </div>
                
                <div class="nav-link">
                    <li class="nav-link-parent">
                        <div class="item">
                            <i class="icon-left fa-solid fa-bus-simple"></i>
                            <a href="#">Xe khách</a>
                        </div>
                        <i class="dropdown fa-solid fa-caret-down" href=""></i>
                    </li>

                    <ul class="nav-link-show ">
                        <li class="nav-link-show-item">
                            <i class="a fa-solid "></i>
                            <a class="content" href="/admin/list-coach">Xem xe khách</a>
                        </li>
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/create-coach">Thêm xe khách</a>
                        </li>
                    </ul>
                </div>
                
                <div class="nav-link">
                    <li class="nav-link-parent">
                        <div class="item">
                            <i class="icon-left fa-solid fa-road" style="padding-right: 1.5rem;"></i>
                            <a href="#">Tuyến xe</a>
                        </div>
                        <i class="dropdown fa-solid fa-caret-down" href=""></i>
                    </li>

                    <ul class="nav-link-show ">
                        <li class="nav-link-show-item">
                            <i class="a fa-solid "></i>
                            <a class="content" href="/admin/list-route">Xem tuyến xe</a>
                        </li>
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/create-route">Thêm tuyến xe</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-link">
                    <li class="nav-link-parent">
                        <div class="item">
                            <i class="icon-left fa-solid fa-archway"></i>
                            <a href="#">Bến xe</a>
                        </div>
                        <i class="dropdown fa-solid fa-caret-down" href=""></i>
                    </li>

                    <ul class="nav-link-show ">
                        <li class="nav-link-show-item">
                            <i class="a fa-solid "></i>
                            <a class="content" href="/admin/list-station">Xem bến xe</a>
                        </li>
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/create-station">Thêm bến xe</a>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>

        <div class="container-sua-tin-tuc">
            <div class="frame">
                <div class="grid-two title-obj-news">
                    <div>
                        <p class="text-title">
                            <i class="fa-solid fa-pen title-icon"></i>SỬA TIN TỨC
                        </p>
                    </div>
                    <div class="line2">
                    </div>
                </div>
                <div class="content-sua-tin-tuc">
                    <div class="frame-content font-16">
                        <form class="edit-news-form" method="POST"
                            action="/admin/edit-news/edit/{{newsItem.idNews}}" id="update-form__news" enctype="multipart/form-data">
                            <div class="id inline">
                                <p for="ID" class="text-decor">ID:</p>
                                <input name="idNews"
                                    style="background: #dde4ff; border: none; width: 50%;  font-style: italic"
                                    value="{{newsItem.idNews}}" readonly>
                            </div>
                            <div class="form-group-news title-new inline">
                                <label for="form-label-news title-news">Tiêu đề <span class="asterisk">*</span>:</label>
                                <input id="title-news" name="titleNews" type="text"
                                    class="input-text-title form-control-news"  value="{{newsItem.titleNews}}">
                                <span id="message1" class="form-message-news"
                                    style="position: absolute; top: 6rem; font-size: 1.2rem; font-weight: 100; color: red;"></span>
                            </div>
                            <div class="frame-img-content inline">
                                <div class="img">
                                    <input type="file" name="image" id="image" onchange="previewImage() "
                                        accept="image/*" style="font-size: 1.3rem;" >
                                    <input type="hidden" name="oldImage" value="{{newsItem.urlImg}}">
                                    <img id="myImagePreview" name="urlImg" src="/img/{{newsItem.urlImg}}"
                                        style="width: 230px;height: 230px; border: 2px solid #dde4ff;">
                                </div>
                                <div class="form-group-news content-new">
                                    <label class="form-label-news" for="content-news">Nội dung <span class="asterisk">*</span></label>
                                    <textarea class="input-text-content form-control-news" name="contentNews"
                                        id="content-news" cols="1" rows="10">{{newsItem.contentNews}}</textarea>
                                    <span id="message2" class="form-message-news"
                                        style="position: absolute; top: 24rem; font-size: 1.2rem; font-weight: 100; color: red; left: 0;"></span>
                                </div>
                            </div>
                            <div class="update-news">
                                <button type="submit" class="form-submit">Update<i
                                        class="fa-solid fa-pen-to-square icon"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{{!-- MODAL UPDATE NEWS --}}
<div id="id01" class="modal" style="cursor: pointer;">
    <span id="closeIcon" class="close" onclick="document.getElementById('id01').style.display='none'" title="Close Modal">&times;</span>
    <form class="modal-content">
        <div class="container-modal">
            <h1><i class="fa-solid fa-pen title-icon" style="padding-right: 1.2rem; font-size: 2.5rem;"></i>Update News</h1>
            <p>Bạn có chắc chắn muốn cập nhật tin tức này ?</p>
            <div class="clearfix">
                <button type="button" class="cancelbtn" id="cancelBtn">Cancel</button>
                <button type="button" class="okbtn" id="okBtn">OK</button>
            </div>
        </div>
    </form>
</div>

{{!-- <script src="../../public/javascripts/validator.js"></script> --}}
{{!-- <script>new Validator('#update-form__news');</script> --}}



{{!-- XỬ LÝ FORM UPDATE NEWS --}}
<script>
    const titleInput = document.querySelector('input[name=titleNews]');
    const titleMessage = document.querySelector('.form-message-news');
    const contentInput = document.querySelector('textarea[name=contentNews]');
    const contentMessage = contentInput.parentNode.querySelector('.form-message-news');
    const UpdateBtn = document.querySelector('button[type=submit]');


    titleInput.addEventListener('input', (event) => {
        if (titleInput.value.trim() === '') {
            titleMessage.innerText = 'Vui lòng nhập trường này';
            UpdateBtn.disabled = true;
        } else {
            titleMessage.innerText = '';
            UpdateBtn.disabled = false;
        }
    });

    contentInput.addEventListener('input', (event) => {

        if (contentInput.value.trim() === '') {
            contentMessage.innerText = 'Vui lòng nhập trường này';
            UpdateBtn.disabled = true;
        } else {
            contentMessage.innerText = '';
            UpdateBtn.disabled = false;
        }
    });

    const form = document.querySelector('form');

    UpdateBtn.addEventListener('click', (event) => {
        if (!((titleInput.value.trim() === '' || contentInput.value.trim() === ''))) {
            event.preventDefault();
            document.getElementById('id01').style.display = 'block';
        }
    });

</script>


{{!-- XỬ LÝ SỰ KIỆN Ở MODAL --}}
<script>
    // GET THE MODAL
    var modal = document.getElementById('id01');

    window.onclick = function (event) {
        if (event.target == modal) {
            closeModal()
        }
    }

    var cancel = document.getElementById('cancelBtn');
    cancel.addEventListener('click', event => {
        event.stopPropagation();
        closeModal()
    })

    var ok = document.getElementById('okBtn');
    ok.addEventListener('click', event => {
        event.stopPropagation();
        form.submit();
    })

    function closeModal() {
        modal.classList.add("fade-out");
        setTimeout(function () {
            modal.style.display = "none";
            modal.classList.remove("fade-out");
        }, 500);
    }

</script>

{{!-- -------------------------------------------- --}}
<script>
    function previewImage() {
        var fileInput = document.getElementById('image');
        var imagePreview = document.getElementById('myImagePreview');

        if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                imagePreview.src = e.target.result;

            }
            reader.readAsDataURL(fileInput.files[0]);
            document.querySelector('.fa-image').style.display = 'none';
        }
    }
</script>

{{!-- XỬ LÝ TOGGLE ICON Ở SIDEBAR --}}
<script>
    var navLinkParents = document.querySelectorAll(".nav-link-parent");

    navLinkParents.forEach((navLinkParent) => {
        var dropdownIcon = navLinkParent.querySelector(".dropdown");
        navLinkParent.addEventListener("click", (event) => {
            event.stopPropagation();
            var navLinkShow = navLinkParent.nextElementSibling;
            navLinkShow.classList.toggle("active");
            dropdownIcon.classList.toggle("fa-caret-down");
            dropdownIcon.classList.toggle("fa-caret-up");
        });
    });

    var item = document.querySelectorAll(".nav-link-show-item");
    item.forEach((a) => {
        var b = a.querySelector("i");
        a.addEventListener("click", () => {
            b.classList.toggle("fa-caret-right");
        })
    })
</script>

<script>
    function displayTime() {
        var date = new Date();
        var hour = date.getHours();
        var minute = date.getMinutes();
        var second = date.getSeconds();
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();
        var meridiem = hour >= 12 ? "PM" : "AM";

        day = addZero(day);
        month = addZero(month);
        hour = hour % 12;
        hour = hour ? hour : 12;
        minute = addZero(minute);
        second = addZero(second);

        document.getElementById("clock").innerHTML = hour + ":" + minute + ":" + second + " " + meridiem;
        document.getElementById("date").innerHTML = day + "/" + month + "/" + year;

        setTimeout(displayTime, 1000);
    }

    function addZero(num) {
        return num < 10 ? "0" + num : num;
    }

    displayTime();
</script>