<header class="header-admin">
    <div class="grid">
        <nav class="header__navbar-admin">
            <div class="header__navbar-left-admin">
                <div class="header__navbar-list-left-admin">
                    <div class="pentagon-admin"></div>
                    <div class="header__navbar-item-admin">
                        <a href="/admin/statistics" class="header__navbar-item-link-admin">DANASA</a>
                    </div>
                </div>
            </div>
            <div class="header__navbar-right-admin">
                <div class="search-field">
                    <i class="fa-solid fa-clock" style="font-size: 2rem; padding-right: 1rem;"></i>
                    <span id="date"></span>
                    <span id="clock"></span>
                </div>

                <div class="header__navbar-right-2">
                    <div class="nav-item">
                        <div class="dropdown">
                            <button type="button"
                                class="nav-link count-indicator dropdown-toggle btn btn-primary-notifi"
                                fdprocessedid="6335cp" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-hands-clapping" style="font-size: 2.2rem; color: #2a4e8a; margin-right: -0.8rem;"></i>
                            </button>
                        </div>
                    </div>

                    {{!-- <div class="nav-item">
                        <div class="dropdown">
                            <button type="button" class="nav-link count-indicator dropdown-toggle btn btn-primary-mess"
                                fdprocessedid="6335cp" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-envelope"></i>
                                <span class="count-symbol bg-warning" style="font-size: 1.25rem;"></span>
                            </button>
                        </div>
                    </div> --}}

                    <div class="nav-item nav-profile">
                        <div class="dropdown">
                            <button type="button" class="nav-link dropdown-toggle btn btn-primary" style="position: relative;
                                padding: 3rem 0;" aria-haspopup="true" aria-expanded="false">
                                <div class="nav-profile-text">
                                    <p class="mb-1 text-black">Xin chào Admin!</p>
                                </div>
                            </button>
                            <button class="logout-admin">
                                <a href="/login/logout" class="nav-profile-img">
                                    <i class="fa-solid fa-right-from-bracket" style="font-size: 2rem; color: #2a4e8a;"></i>
                                    <span class="availability-status online"></span>
                                </a>
                            </button>
                            <div class="show-drop-down"></div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        </nav>
    </div>
</header>
<div class="container-page-admin-wrap">
    <div class="grid" style="display: flex;">
        <div class="sidebar">
            <ul>
                <div class="nav-link">
                    <li class="nav-link-parent">
                        <div class="item">
                            <i class="icon-left fa-solid fa-chart-line"></i>
                            <a href="#">Thống kê</a>
                        </div>
                        <i class="dropdown fa-solid fa-caret-down" href=""></i>
                    </li>

                    <ul class="nav-link-show ">
                        <li class="nav-link-show-item">
                            <i class="a fa-solid "></i>
                            <a class="content" href="/admin/statistics">Doanh thu</a>
                        </li>
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/sales">Doanh số</a>
                        </li>
                    </ul>
                </div>

                <div class="nav-link">
                    <li class="nav-link-parent">
                        <div class="item">
                            <i class="icon-left fa-solid fa-newspaper"></i>
                            <a href="#">Tin tức </a>
                        </div>
                        <i class="dropdown fa-solid fa-caret-down"></i>
                    </li>
                    <ul class="nav-link-show">
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/list-news">Xem tin tức</a>
                        </li>
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/create-news">Tạo tin tức</a>
                        </li>
                    </ul>
                </div>

                <div class="nav-link">
                    <li class="nav-link-parent">
                        <div class="item">
                            <i class="icon-left fa-sharp fa-solid fa-user" style="font-size: 1.5rem;"></i>
                            <a href="#">Tài khoản</a>
                        </div>
                        <i class="dropdown fa-solid fa-caret-down"></i>
                    </li>

                    <ul class="nav-link-show">
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/list-cus">Xem tài khoản</a>
                        </li>
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/delete-cus" >Xóa tài khoản</a>
                        </li>
                    </ul>
                </div>

                <div class="nav-link">
                    <li class="nav-link-parent">
                        <div class="item">
                            <i class="icon-left fa-regular fa-calendar-days" style="font-size: 1.5rem;"></i>
                            <a href="#">Lịch trình</a>
                        </div>
                        <i class="dropdown fa-solid fa-caret-down"></i>
                    </li>

                    <ul class="nav-link-show">
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/list-schedule" >Xem lịch trình</a>
                        </li>
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/create-schedule">Tạo lịch trình</a>
                        </li>
                    </ul>
                </div>
                
                <div class="nav-link">
                    <li class="nav-link-parent">
                        <div class="item">
                            <i class="icon-left fa-solid fa-bus-simple"></i>
                            <a href="#">Xe khách</a>
                        </div>
                        <i class="dropdown fa-solid fa-caret-down" href=""></i>
                    </li>

                    <ul class="nav-link-show ">
                        <li class="nav-link-show-item">
                            <i class="a fa-solid "></i>
                            <a class="content" href="/admin/list-coach">Xem xe khách</a>
                        </li>
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/create-coach">Thêm xe khách</a>
                        </li>
                    </ul>
                </div>
                
                <div class="nav-link">
                    <li class="nav-link-parent">
                        <div class="item">
                            <i class="icon-left fa-solid fa-road" style="padding-right: 1.5rem;"></i>
                            <a href="#">Tuyến xe</a>
                        </div>
                        <i class="dropdown fa-solid fa-caret-down" href=""></i>
                    </li>

                    <ul class="nav-link-show ">
                        <li class="nav-link-show-item">
                            <i class="a fa-solid "></i>
                            <a class="content" href="/admin/list-route">Xem tuyến xe</a>
                        </li>
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/create-route">Thêm tuyến xe</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-link">
                    <li class="nav-link-parent">
                        <div class="item">
                            <i class="icon-left fa-solid fa-archway"></i>
                            <a href="#">Bến xe</a>
                        </div>
                        <i class="dropdown fa-solid fa-caret-down" href=""></i>
                    </li>

                    <ul class="nav-link-show ">
                        <li class="nav-link-show-item">
                            <i class="a fa-solid "></i>
                            <a class="content" href="/admin/list-station">Xem bến xe</a>
                        </li>
                        <li class="nav-link-show-item">
                            <i class="fa-solid "></i>
                            <a class="content" href="/admin/create-station">Thêm bến xe</a>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>

        <!-- <div class="grid"> -->
        <div class="container-admin">
            <div class="title-admin">
                <i class="fa-solid fa-pencil edit-icon"></i>
                <div class="title-content">SỬA LỊCH TRÌNH</div>
            </div>
            <div class="title-line"></div>
             {{!-- action="/admin/edit-schedule/:id?_method=PATCH" " --}}
            <div class="container-create__schedule" style="position: relative;">
                <form id="update-form__schedule" class="form" name="create-form">
                    <div class="message-error">
                        <p>{{messageEdit}}</p>
                    </div>
                    <div class="form-group--large">
                        <div class="form-group width-item-35">
                            <label for="id-schedule" class="form-label form-schedule">ID :</label>
                            <input id="id-schedule" name="id-schedule" type="text" class="form-control-schedule"
                                 value="{{schedule.idSchedule}}" disabled>
                            <!-- <span class="form-message"></span> -->
                        </div>
                        <div class="form-group width-item-35">
                            <label for="route" class="form-label form-schedule">Tuyến :</label>
                            <input id="route" name="route" class="form-control-schedule" value="{{schedule.firstProvince}} - {{schedule.secondProvince}}" disabled>
                            <span class="form-message"></span>
                        </div>
                    </div>

                    <div class="form-group--large">
                        <div class="form-group width-item-35">
                            <label for="start-province" class="form-label form-schedule">Tỉnh đi :</label>
                            <input id="start-province" name="start-province" class="form-control-schedule" disabled value="{{schedule.startProvince}}">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group width-item-35">
                            <label for="end-province" class="form-label form-schedule">Tỉnh đến :</label>
                            <input id="end-province" name="end-province" type="text" class="form-control-schedule" value="{{schedule.endProvince}}" disabled>
                        </div>
                    </div>

                    <div class="form-group--large">
                        <div class="form-group width-item-35">
                            <label for="start-station" class="form-label form-schedule">Bến đi :</label>
                            <input id="start-station" name="start-station" class="form-control-schedule" disabled value="{{schedule.startStation}}">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group width-item-35">
                            <label for="end-station" class="form-label form-schedule">Bến đến :</label>
                            <input id="end-station" name="end-station" class="form-control-schedule" disabled value="{{schedule.endStation}}">
                            <span class="form-message"></span>
                        </div>
                    </div>
                    {{#if schedule.enable}}
                    <p class="form-message-time" style="font-size: 12px;margin: 0 0 1rem;color:#f33a58 "><span class="asterisk">*</span> Thời gian có thể chỉnh sửa {{schedule.timeLength}}</p>
                    {{/if}}
                    <div class="form-group--large">
                        <div class="form-group width-item-28">
                            <label for="start-time" class="form-label form-schedule">Thời gian khởi hành <span class="asterisk">*</span>:</label>
                            <input id="start-time" name="start-time" type="time" class="form-control-schedule" rules="required" value="{{schedule.start}}">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group width-item-28">
                            <label for="end-time" class="form-label form-schedule">Thời gian cập bến :</label>
                            <input id="end-time" name="end-time" type="time" class="form-control-schedule" disabled value="{{schedule.end}}">
                        </div>
                        <div class="form-group width-item-28">
                            <label for="start-date" class="form-label form-schedule">Ngày khởi hành <span class="asterisk">*</span>:</label>
                            <input id="start-date" name="start-date" type="date" class="form-control-schedule" rules="required" value="{{schedule.day}}">
                            <span class="form-message"></span>
                        </div>
                    </div>

                    <div class="form-group--large">
                        <div class="form-group width-item-28">
                            <label for="price" class="form-label form-schedule">Giá <span class="asterisk">*</span>:</label>
                            <input id="price" name="price" type="text" class="form-control-schedule" rules="required|noSpace|integer" value="{{schedule.price}}">
                            <span class="form-message message__price"></span>
                        </div>
                        <div class="form-group width-item-28">
                            <label for="type-coach" class="form-label form-schedule">Loại xe :</label>
                            <input id="type-coach" name="type-coach" class="form-control-schedule" disabled value="{{schedule.typeName}}">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group width-item-28">
                            <label for="license-plate" class="form-label form-schedule">Biển số xe :</label>
                            <input id="license-plate" name="license-plate" class="form-control-schedule" disabled value="{{schedule.licensePlate}}">
                            <span class="form-message"></span>
                        </div>
                    </div>

                    <div class="sub-info__schedule">
                        <div class="duration">Thời gian dự kiến: {{schedule.hours}} tiếng</div>
                        <div class="number-seat">Số lượng: {{schedule.numberOfSeat}} ghế</div>
                    </div>
                    <p class="form-message" style="font-size: 14px;margin: 1rem 0;color:#f33a58;font-weight:bold">{{schedule.message}}</p>
                    <div class="container-submit">
                        {{#if schedule.enable}}
                        <button id="{{schedule.idSchedule}}" type="submit" class="form-submit">
                            <span>Update</span>
                            <i class="fa-solid fa-upload"></i>
                        </button>
                        {{else}}
                        <button id="{{schedule.idSchedule}}" type="submit" class="form-submit" disabled>
                            <span>Update</span>
                            <i class="fa-solid fa-upload"></i>
                        </button>
                        {{/if}}

                    </div>
                </form>
            </div>
        </div>
        <!-- </div> -->
    </div>
</div>

{{#if failure}}
<div id="toast">
    <div class="toast toast--error">
        <div class="toast__icon">
            <i class="fas fa-exclamation-circle"></i>
        </div>
        <div class="toast__body">
            <h3 class="toast__title">Failed</h3>
            <p class="toast__msg">{{failure}}</p>
        </div>
        <div class="toast__close">
            <i class="fas fa-times"></i>
        </div>
    </div>
</div>
{{/if}}

{{!-- MODAL UPDATE SCHEDULE --}}
<div id="id01" class="modal" style="cursor: pointer;">
    <span id="closeIcon" class="close" onclick="document.getElementById('id01').style.display='none'" title="Close Modal">&times;</span>
    <form class="modal-content">
        <div class="container-modal">
            <h1><i class="fa-solid fa-pen title-icon" style="padding-right: 1.2rem; font-size: 2.5rem;"></i>Update Schedule</h1>
            <p>Bạn có chắc chắn muốn cập nhật lịch trình này ?</p>
            <div class="clearfix">
                <button type="button" class="cancelbtn" id="cancelBtn">Cancel</button>
                <button type="button" class="okbtn" id="okBtn">OK</button>
            </div>
        </div>
    </form>
</div>
<script>
    var UpBtn = document.querySelector('button[type=submit]');
    var priceNameMessage = document.querySelector('.message__price');
    var value = true;
    function Check(){
        if(priceNameMessage.innerHTML.trim()==='') value = true;
            else value = false;
    }
    UpBtn.addEventListener('click', (event) => {
        Check();
        if(value){
            event.preventDefault();
            document.getElementById('id01').style.display = 'block';
        }
        else event.preventDefault();
    });
</script>
{{!-- XỬ LÝ SỰ KIỆN Ở MODAL --}}
<script>
    // GET THE MODAL
    var modal = document.getElementById('id01');
    var form = document.querySelector('#update-form__schedule');
    window.onclick = function (event) {
        if (event.target == modal) {
            closeModal()
        }
    }

    var cancel = document.getElementById('cancelBtn');
    cancel.addEventListener('click', event => {
        event.stopPropagation();
        closeModal()
    })

    var ok = document.getElementById('okBtn');
    ok.addEventListener('click', event => {
        event.stopPropagation();
        form.method = 'POST';
        form.action = `/admin/edit-schedule/{{schedule.idSchedule}}?_method=PATCH`;
        form.submit();
    })

    function closeModal() {
        modal.classList.add("fade-out");
        setTimeout(function () {
            modal.style.display = "none";
            modal.classList.remove("fade-out");
        }, 500);
    }

</script>


<script>
    var navLinkParents = document.querySelectorAll(".nav-link-parent");
    var UpBtn = document.querySelector('.form-submit');
    var id = UpBtn.id;
    var startTime = document.querySelector('#start-time');
    var endTime = document.querySelector('#end-time');
    var startDay = document.querySelector('#start-date');
    const today = new Date().toISOString().split('T')[0];
    startDay.setAttribute('min', today);
    startTime.onchange = function(){
        var start = startTime.valueAsDate;
        start.setHours(start.getHours()+{{schedule.hours}});
        endTime.valueAsDate = start;
    }
    /*
    UpForm.submit = function(e){
        var rs = window.confirm('Bạn có chắc chắn muốn cập nhật lịch trình này không ?');
        console.log(rs);
        if(!rs) e.preventDefault();
        //if(!window.confirm('Bạn có chắc chắn muốn cập nhật lịch trình này không ?')) e.preventDefault();
    }
    if(!window.confirm('Bạn có chắc chắn muốn cập nhật lịch trình này không ?')) e.preventDefault();
        else{
            UpForm.onsubmit();
        }
    UpForm.submit = function(e){
        e.preventDefault();
        if(window.confirm('Bạn có chắc chắn muốn cập nhật lịch trình này không ?')){
            UpForm.method = 'POST';
            UpForm.action = `/admin/edit-schedule/${id}?_method=PATCH`;
            UpForm.submit();
        }
    }
    UpForm.addEventListener("submit", function(e){
        //e.preventDefault();
        if(window.confirm('Bạn có chắc chắn muốn cập nhật lịch trình này không ?')){
            UpForm.method = 'POST';
            UpForm.action = `/admin/edit-schedule/${id}?_method=PATCH`;
            //UpForm.submit();
        }
        else e.preventDefault();
    })
    UpForm.onsubmit = function(e){
        if(window.confirm('Bạn có chắc chắn muốn cập nhật lịch trình này không ?')){
            UpForm.method = 'POST';
            UpForm.action = `/admin/edit-schedule/${id}?_method=PATCH`;
            UpForm.submit();
        }
        else{
            e.preventDefault();
        }
    }
    UpBtn.onclick = function(e){

        if(window.confirm('Bạn có chắc chắn muốn cập nhật lịch trình này không ?')){
            UpForm.method = 'POST';
            UpForm.action = `/admin/edit-schedule/${id}?_method=PATCH`;
            UpForm.submit();
        }
        else{
            e.preventDefault();
        }
    }*/
    navLinkParents.forEach((navLinkParent) => {
        var dropdownIcon = navLinkParent.querySelector(".dropdown");
        navLinkParent.addEventListener("click", (event) => {
            event.stopPropagation();
            var navLinkShow = navLinkParent.nextElementSibling;
            navLinkShow.classList.toggle("active");
            dropdownIcon.classList.toggle("fa-caret-down");
            dropdownIcon.classList.toggle("fa-caret-up");
        });
    });

    var item = document.querySelectorAll(".nav-link-show-item");
    item.forEach((a) => {
        var b = a.querySelector("i");
        a.addEventListener("click", () => {
            b.classList.toggle("fa-caret-right");
        })
    })
</script>

<script>
    function displayTime() {
        var date = new Date();
        var hour = date.getHours();
        var minute = date.getMinutes();
        var second = date.getSeconds();
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();
        var meridiem = hour >= 12 ? "PM" : "AM";

        day = addZero(day);
        month = addZero(month);
        hour = hour % 12;
        hour = hour ? hour : 12;
        minute = addZero(minute);
        second = addZero(second);

        document.getElementById("clock").innerHTML = hour + ":" + minute + ":" + second + " " + meridiem;
        document.getElementById("date").innerHTML = day + "/" + month + "/" + year;

        setTimeout(displayTime, 1000);
    }

    function addZero(num) {
        return num < 10 ? "0" + num : num;
    }

    displayTime();
</script>