<div class="app" style="background-color: #F5F5F5;">
    <header class="header">
        <div class="grid">
            <nav class="header__navbar">
                <ul class="header__navbar-list-left">
                    <li class="header__navbar-item">
                        <a href="/" class="header__navbar-item-link">DANASA
                        </a>
                    </li>
                    <div class="pentagon"></div>
                </ul>

                <ul class="header__navbar-list-right">
                    <li class="header__navbar-item">
                        <a href="/" class="header__navbar-item-link">Trang chủ</a>
                    </li>
                    <li class="header__navbar-item">
                        <a href="/news" class="header__navbar-item-link">Tin tức</a>
                    </li>
                    <li class="header__navbar-item">
                        <a href="/contact" class="header__navbar-item-link">Liên hệ</a>
                    </li>
                    <li class="header__navbar-item header__navbar-item-dropdown">
                        <a href="/login" class="header__navbar-item-link link-name" id="username">{{infoLogin}}</a>
                        <div class="menu-show-container" id="dropdown">
                            <div class="user">
                                <i class="fa-solid fa-circle-user"></i>
                                <h3>{{isLoggedIn}}</h3>
                            </div>
                            <div class="button">
                                <ul>
                                    <li class="li-dropdown">
                                        <i class="fa-solid fa-clock-rotate-left" style="color:var(--text-color)"></i>
                                        <span>
                                            <a class="itemm" href="/history-buy-ticket" >
                                                Lịch sử đặt vé
                                            </a>
                                        </span>
                                    </li>
                                    <li class="li-dropdown">
                                        <i class="fa-solid fa-user-large" style="color:var(--text-color)"></i>
                                        <span><a href="/updateinfo" >
                                                Thông tin cá nhân
                                            </a></span>
                                    </li>
                                    <li class="li-dropdown">
                                        <i class="fa-solid fa-user-pen" style="color:var(--text-color)"></i>
                                        <span><a href="/change-password" >
                                                Thay đổi mật khẩu
                                            </a></span>
                                    </li>
                                    <li class="li-dropdown">
                                        <i class="fa-solid fa-right-from-bracket" style="color:var(--text-color)"></i>
                                        <span><a href="/login/logout" >
                                                Đăng xuất
                                            </a></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <script>
        const dropdown = document.getElementById("dropdown");
        const infoLogin = "{{infoLogin}}";
        if (infoLogin === "Đăng nhập") {
            dropdown.style.display = "none";
        }
    </script>

    <div class="container-x container__change-in4">
        <div class="grid">
            <div class="banner">
                <img src="./img/banner.png" alt="Banner" width="1120px" height="456px"
                    style=" position: relative; left: 2.9rem;" />
            </div>
            <div class="content-change-in4">
                <div class="grid-two title">
                    <div class="grid-two-inline">
                        <i class="fa-solid fa-user-pen icon color" style=" position: relative; top: -1rem;"></i>
                        <p class="Text color">THÔNG TIN CÁ NHÂN</p>
                    </div>
                    <div class="line-update">
                    </div>
                </div>
                <form class="table" id="changein4-form" method="POST" action="/updateinfo">
                    <p class="font-18 color semibold center table-title">THÔNG TIN KHÁCH HÀNG</p>
                    <div class="sub-table font-15" >
                        <div class="form-group grid-two">
                            <label class="form-label" for="name">Họ tên hành khách <span class="asterisk">*</span></label>
                            <input id="name" name="name" class="form-control" rules="required|noSpace" type="text"
                                placeholder="Nguyễn Văn A" value="{{name}}">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group grid-two">
                            <label class="form-label" for="sdt">Số điện thoại <span class="asterisk">*</span></label>
                            <input id="sdt" name="sdt" class="form-control" rules="required|phonenumber" type="tel"
                                placeholder="0905478854" value="{{phoneNumber}}">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group grid-two">
                            <label class="form-label" for="email">Email <span class="asterisk">*</span></label>
                            <input id="email" name="email" class="form-control" rules="email" type="email"
                                placeholder="nguyenvana@gmail.com" value="{{email}}" style="color: black;">
                            <span class="form-message"></span>
                        </div>
                        {{!-- <div class="grid-two-justify">
                            <div class="grid-two form-group width-45">
                                <label class="form-label" for="TP" >Tỉnh/TP</label>
                                <select name="TP" id="TP" class="select"  style="background-color: white;">
                                    <option value="0">--Lựa chọn--</option>
                                    <option value="1">Đà Nẵng</option>
                                    <option value="2">Liên Chiểu</option>
                                </select>
                            </div>
                            <div class="grid-two form-group width-45">
                                <label class="form-label" for="quan">Quận/Huyện</label>
                                <select name="quan" id="quan" class="select"  style="background-color: white;">
                                    <option value="0">--Lựa chọn--</option>
                                    <option value="1">Hải Châu</option>
                                    <option value="2">Cẩm Lệ</option>
                                    <option value="3">Liên Chiểu</option>
                                    <option value="4">Hòa Vang</option>
                                </select>
                            </div>
                        </div> --}}
                        <span class="form-message message-error-info" style="font-size: 1.4rem; color: red;">{{message}}</span>
                        <div class="grid-two-around button">
                            <button type="button" name="Thoát" class="but-exit font-15 but" onclick="location.href='/'">Thoát</button>
                            <button type="submit" name="Lưu" class="but-save form-submit font-15 but">Lưu</button>
                        </div>
                        
                    </div>
                </form>
            </div>

        </div>
    </div>

    <footer class="footer">
        <div class="grid">
            <div class="grid__row-footer">
                <div class="col grid__column-intro">
                    <div class="col__column-inner">
                        <img width="220" height="150" src="./img/footer_danasa.png"
                            class="attachment-original size-original" alt="">
                        <div class="icon-box-text last-reset">
                            <p style="width: 60%; text-align-last: center;">Công ty cổ phần xe khách Danasa Bus
                                Lines</p>
                        </div>

                        <div class="social-icons follow-icons">
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                    </div>
                </div>

                <div class="col grid__column-lienhe">
                    <div class="col-inner">
                        <h3 style="padding-right: -20px;width: 250px;">THÔNG TIN LIÊN HỆ</h3>
                        <div class="icon-box icon-box-left text-left">
                            <div class="icon-box-img" style="width: 100%">
                                <i class="fa-solid fa-location-dot"></i>
                                <div class="icon-box-text last-reset">
                                    <p style="width: 90%; ">54 Nguyễn Lương Bằng, Hòa Khánh Bắc,
                                        Liên Chiểu, Đà Nẵng </p>
                                </div>
                            </div>
                        </div>

                        <div class="icon-box icon-box-left text-left">
                            <div class="icon-box-img" style="width: 70%">
                                <i class="fa-solid fa-phone" style="font-size: 17px;"></i>
                                <div class="icon-box-text last-reset">
                                    <p>076 922 0162</p>
                                </div>
                            </div>

                            <div class="icon-box icon-box-left text-left">
                                <div class="icon-box-img" style="width: 70%">
                                    <i class="fa-solid fa-envelopes-bulk" style="font-size: 17px;"></i>
                                    <div class="icon-box-text last-reset">
                                        <p>danasacoach79@gmail.com</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col grid__column-hinhanh">
                    <div class="col-inner">
                        <h3>HÌNH ẢNH</h3>
                        <div class="grid__row-3-col-3">
                            <div class="galary-col col">
                                <div class="container">
                                    <img src="./img/xe_do.jpg" alt="Xe đỏ">
                                    <img src="./img/xe_xanh2.jpg" alt="Xe đỏ">
                                </div>
                                <div class="container">
                                    <img src="./img/xe_xanh1.jpg" alt="Xe đỏ">
                                    <img src="./img/xe_do2.jpg" alt="Xe đỏ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col grid__column-dangky">
                    <div class="col-inner">
                        <h3 style="width: 250px;">HỢP TÁC VÀ LIÊN KẾT</h3>
                        <p style="font-size: 1.2rem;">Quy chế hoạt động Sàn GDTMĐT</p>
                        <p style="font-size: 1.2rem;">Bến xe Trung tâm Đà Nẵng</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="line-straight-footer"></div>
    </footer>
</div>

{{#if success}}
<div id="toast">
    <div class="toast toast--success">
        <div class="toast__icon">
            <i class="fas fa-check-circle"></i>
        </div>
        <div class="toast__body">
            <h3 class="toast__title">Success</h3>
            <p class="toast__msg">{{success}}</p>
        </div>
        <div class="toast__close">
            <i class="fas fa-times"></i>
        </div>
    </div>
</div>
{{/if}}

{{#if failure}}
<div id="toast">
    <div class="toast toast--error">
        <div class="toast__icon">
            <i class="fas fa-exclamation-circle"></i>
        </div>
        <div class="toast__body">
            <h3 class="toast__title">Failed</h3>
            <p class="toast__msg">{{failure}}</p>
        </div>
        <div class="toast__close">
            <i class="fas fa-times"></i>
        </div>
    </div>
</div>
{{/if}}

<script>
    const messageError = document.querySelector('.message-error-info');
    const allInputs = document.querySelectorAll('.form-control');
    allInputs.forEach(input => {
        input.addEventListener('input', function() {
            messageError.innerHTML = "";
        })
    })

</script>

<script>
    const linkName = document.querySelector('.link-name');
    if(linkName.innerHTML !== "Đăng nhập") {
        linkName.href = "#";
    }
</script>